<!DOCTYPE html>
<html ng-app="tippspiel">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title ng-bind="siteTitle">F1 Tippspiel</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/bootstrap")
	@Scripts.Render("~/bundles/modernizr")
	@Styles.Render("~/Content/font-awesome")
	@Styles.Render("~/Content/loading-bar")
</head>
<body>

	@RenderBody()

	@Scripts.Render("~/bundles/scriptaddons")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/loadingbar")
	@Scripts.Render("~/bundles/app")
	@RenderSection("scripts", required: false)
</body>
</html>